{
    "singleQuote": false,
    "trailingComma": "all",
    "overrides": [
      {
        "files": "*.ts, *.js, *.tsx, *.jsx",
        "options": {
          "parser": "typescript"
        }
      }
    ]
}
